services:
  next-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: balungpisah-dashboard
    ports:
      - "${PORT:-3000}:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    restart: always

networks:
  default:
    name: nextjs-network